body {
    background-color: #fefeec;
}

main.container {
    background-color: white;
    box-shadow: 0px 0px 12px black;
    border: 1px solid black;
    margin-top: 15px;
}

.custom-textarea {
    width: 170%;
}

.error {
    border-color: red;
}

.success {
    border-color: green;
}

td.vegan {
    background-color: lightgreen;
}

td.meso {
    background-color: lightcoral;
}

td.vegeterijanski {
    background-color: green;
}